{% extends 'base.html' %}

{% block title %} About{% endblock title %}
{%block aboutactive%}active{%endblock aboutactive%}
{% block body %}
<div class="py-12">

    <h2 class="text-center uppercase text-2xl lg:text-4xl tracking-wider mb-12">About Us</h2>

    <p class="text-gray-700 mx-auto max-w-2xl text-center leading-relaxed mb-12">Blogarithm a dynamic website made with Django, backend wrote in python and Sqlit3 as database. For the frontend I have used bootstrap and tailwind css. About my self I am 19 and have a good soul of teenager.I am from Biswanath Chariali which is now one of the fastest growing place.I am studing in Indian Institue of Information technology Guwahati, B.Tech(CSE). I like books,small talks,travel,listening to music,thinking and exploring life.</p>

</div>

 {% endblock %}